@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
* {
     box-sizing: border-box;
}
body{
     background-image: url('background/background-lord-of-the-rings.jpg');
     font-family: 'Libre Franklin', sans-serif;
}
.player-enemy{
     background-color: red;
}

.about-me{
     background-color: gray;
}
.info-me{
     font-style: italic;
}
   